.dropdown{
    /* width: 30px; */
    display: flex;
    /* height: 30px ; */
    /* background-color: black; */

}
.mybtn{
    height: 30px;
    width: 30px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align:center;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 10px 0px 0px -5px;
}